.fondo1{
    background-color: aqua;
    background-image: url("capa.png"), url("reciclaje_2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: sans-serif;
    font-size: 37px;
    color:beige ;
    padding: 20px;
    text-align: left;

  
}

p {
    font-family: sans-serif;
    font-size: 14px;
    color:beige ;
}

nav {
    margin: 0;
    padding: 0;
    background-color:cornflowerblue ;
  }

  nav li {
    padding: 0 10px;
    display: block;
    float: left;
  }